<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="./../../assets/busstore-logo.png" class="img-fluid busIcon">
            </a>
        </div>

        <form class="navbar-form navbar-left">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <img src="../../assets/banner-image.png" class="w-100 img-fluid" alt="banner-image">
</div>
<div class="container-fluid card-section mt-3">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <ul class="nav nav-pills">
                <li class="nav-item w-25">
                    <a style="text-align: center" class="nav-link active" data-toggle="pill" href="#Active" role="tab"
                        aria-controls="pills-flamingo" aria-selected="true">Active</a>
                </li>
                <li class="nav-item w-25">
                    <a style="text-align: center" class="nav-link" data-toggle="pill" href="#Closed" role="tab"
                        aria-controls="pills-cuckoo" aria-selected="false">Closed</a>
                </li>
            </ul>
            <div class="tab-content tab-container mt-3">
                <div class="tab-pane fade show active" id="Active" role="tabpanel" aria-labelledby="flamingo-tab">
                    <div class="row desktopContent">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-5 col-md-4">
                                    <p style="text-align: center;">Bus Name <i class="fa fa-sort"></i></p>

                                </div>
                                <div class="col-lg-1 col-md-1 p-0">
                                    <p>Bus Type <i class="fa fa-sort"></i></p>

                                </div>
                                <div class="col-lg-1 col-md-1 p-0">
                                    <p>Started Date <i class="fa fa-sort"></i></p>

                                </div>
                                <div class="col-lg-1 col-md-1 p-0">
                                    <p>End Date <i class="fa fa-sort"></i></p>

                                </div>
                                <div class="col-lg-1 col-md-1 p-0">
                                    <p>Bidders <i class="fa fa-sort"></i></p>

                                </div>
                                <div class="col-lg-1 col-md-1 p-0">
                                    <p>Base Price <i class="fa fa-sort"></i></p>

                                </div>
                                <div class="col-lg-1 col-md-1 p-0">
                                    <p>Current Bid <i class="fa fa-sort"></i></p>

                                </div>
                            </div>
                            <div class="card mt-2">
                                <div class="card-body">

                                    <div class="row ">
                                        <div class="col-lg-5 col-md-4 float-left">
                                            <img src="../../assets/volvo-bus.jpg" class="img-fluid float-left">
                                            <div class="float-left ml-3">
                                                <h6>MERCEDES BENZ O 530 CITARO</h6>
                                                <div class="row">
                                                    <div class="col-lg-4   ">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">108</p>
                                                    </div>
                                                    <div class="col-lg-4  ">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">0.404N</p>
                                                    </div>
                                                    <div class="col-lg-4 ">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">2000</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <i class="fa fa-map-marker  float-left"></i>
                                                        <p>Germany</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p>Coach Bus</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">

                                            <p class="m-0"> <i class="fa fa-calendar"></i>25/04/2020</p>
                                            <p class="m-0">(Mon 06:00 AM)</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">


                                            <p class="m-0"><i class="fa fa-calendar"></i>25/04/2020</p>
                                            <p class="m-0">(Mon 06:00 AM)</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p class="m-0">20 Bidders</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p class="m-0"><i style="color: orange" class="fa fa-tag"></i><i
                                                    class="fa fa-euro"></i>820000</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p class="m-0"><i style="color: green" class="fa fa-tag"></i><i
                                                    class="fa fa-euro"></i>980000</p>
                                            <p>Macro Michel</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <i class="fa fa-file"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-2">
                                <div class="card-body">
                                    <div class="row ">
                                        <div class="col-lg-5 col-md-4 float-left">
                                            <img src="../../assets/scani-logo.png" class="img-fluid float-left">
                                            <div class="float-left ml-3">
                                                <h6>MERCEDES BENZ O 530 CITARO</h6>
                                                <div class="row">
                                                    <div class="col-lg-4   ">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">108</p>
                                                    </div>
                                                    <div class="col-lg-4  ">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">0.404N</p>
                                                    </div>
                                                    <div class="col-lg-4 ">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">2000</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <i class="fa fa-map-marker  float-left"></i>
                                                        <p>Germany</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p>Coach Bus</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">

                                            <p class="m-0"> <i class="fa fa-calendar"></i>25/04/2020</p>
                                            <p class="m-0">(Mon 06:00 AM)</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p class="m-0"><i class="fa fa-calendar"></i>25/04/2020</p>
                                            <p class="m-0">(Mon 06:00 AM)</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p class="m-0">20 Bidders</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p class="m-0"><i style="color: orange" class="fa fa-tag"></i><i
                                                    class="fa fa-euro"></i>820000</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <p class="m-0"><i style="color: green" class="fa fa-tag"></i><i
                                                    class="fa fa-euro"></i>980000</p>
                                            <p>Macro Michel</p>
                                        </div>
                                        <div class="col-lg-1 col-md-1 p-0">
                                            <i class="fa fa-file m-auto d-flex"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mob-content">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 col-sm-8 col-8">
                                        <h6>MERCEDES BENZ FUTURE BUS</h6>
                                        <SPAN>Coach Bus</SPAN>
                                        <div class="row">
                                            <div class="col-sm-4 col-4">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">108</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">108</p>
                                                    </div>
                                                    <div class="col-12">
                                                        <i class="fa fa-bus float-left"></i>
                                                        <p class="float-left">108</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-8 col-8">
                                                <div class="row">
                                                    <div class="col-6 p-0">
                                                        <span>20 Bidders</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <span><i class="fa fa-tag"></i>700000</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <span class="mt-2"><i class="fa fa-tag"></i><span class="highlightedprice"><i class="fa fa-euro"></i>745000</span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-4">
                                        <img src="../../assets/volvo-bus.jpg" class="img-fluid">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <span><i class="fa fa-map-marker"></i>Germany, Untersteinach</span>
                                    </div>
                                    <div class="col-6">
                                         <span><i class="fa fa-calendar"></i>9D 15H (Mon 5:47 AM)</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Closed" role="tabpanel" aria-labelledby="profile-tab">

                </div>

            </div>

        </div>
    </div>
</div>